@import './g-styles.scss';

.posts {
	width: 100%;
	max-width: 960px;
	margin: 40px auto;

	h2 {
		visibility: none;
		opacity: 0;
		font-size: 0.1em;
	}

	ul {
		list-style: none;

		li {
			width: 100%;
			background: $lpurp;
			position: relative;
			padding: 30px;
			//margin-left: -20px;
			margin-bottom: 25px;
			border-radius: 10px;

			h3 {
				margin-bottom: 15px;
			}

			h6 {
				color: $sand;
				margin: 5px 0;
			}

			&:last-child {
				border: none;
			}

		}
	}
}

.postBody {

	h3 {
		font-size: 2em;
	}
	h4 {
		margin: 20px 0 10px 0;
	}
	ul {
		li {
			padding: 30px;
		}
	}
}

.backto {
	font-size: 0.9em;
	font-weight: bold;
	padding: 3px 0;
}

@media only screen and (max-width: 780px) {
	.postBody {
		ul {
			margin: 0;
			li {
				margin: 0;
				padding: 20px;
			}
		}
	}
}