// https://www.color-hex.com/color-palette/71062

@import '/g-styles.scss';

@mixin ease($property){
  transition: $ease;
  -webkit-transition: $ease;
  -moz-transition: $ease;
}

html {
  font-family: $font;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  color: $sand;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  @include ease(transition($ease));
}
a:active,
a:hover {
  outline-width: 0;
  color: darken($sand, 10%);
  cursor: pointer;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}

textarea {
  overflow: auto;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  background: $dpurp;
  color: #ccc;
  font-family: Helvetica Neue, sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.62671rem;
}
h3 {
  font-size: 1.38316rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.85028rem;
}
h6 {
  font-size: 0.78405rem;
}
ul,
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl,
dd,
p,
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
  ol,
  ul {
    margin-left: 1.45rem;
    margin-bottom: calc(1.45rem / 2);
    margin-top: calc(1.45rem / 2);
  }
}
ul,
ol {
  li {
    padding-left: 0;
  }
}

blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}

.mobileHide {
  display: block;
}

.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background: $dpurp;
  padding: 30px 0;
  width: 100%;
  max-width: 960px;
  margin: auto;
  position: relative;
  padding: 2em;
  h1,
  h2,
  h3 {
    margin: 0;
  }

  h1 {
    font-size: 2.4em;
  }

  h2 {
    margin: 0;
    font-size: 1.5em;
    padding: 0 10px;
    font-weight: 300;
  }

  h3 {
    color: $sand;
    font-size: 1.2em;
    font-weight: 300;
    padding: 0 10px;
  }

  .socialShare {
    list-style: none;
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.footer {
  position: relative;
  background: $dpurp;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  margin: 0;
  p {
    margin: auto;
    text-align: center;
    a {
      font-weight: bold;
      font-size: 1.1em
    }
  }
}

.grid-container {
  display: grid;
  grid-gap: 3em;
  padding: 10px;
  margin-top: 50px;
}
.homePage {
  .svg-icon {
    position: relative;
    top: 5px;
    width: 1.4em;
    height: 1.4em;
    margin: 0 15px;
  }

  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: $sand;
  }

  .svg-icon circle {
    stroke: $sand;
    stroke-width: 1;
  }
  div {
    &:first-child {
      grid-column: 3 / span 1;
      grid-row: 1;
    }
    &:nth-child(2) {
      grid-column: 1 / span 2;
      grid-row: 1;
    }
    &:nth-child(3) {
      grid-column: 1 / span 3;
      grid-row: 2;
    }
    &:nth-child(4) {
      grid-column: 1 / span 1;
      grid-row: 3;
    }
    &:nth-child(5) {
      grid-column: 2 / span 2;
      grid-row: 3;
    }
    &:nth-child(6) {
      grid-column: 1 / span 3;
      grid-row: 4;
      margin-bottom: 40px;
    }
  }
  ul {
    list-style: none;
    li {
      span {
        color: $sand;
        font-weight: bold;
      }
    }
  }
}
.aboutPage {
  margin-top: 40px;

  p {
    font-size: 1.1em;
    line-height: 32px;
  }
  h2 {
  }
  a {
    font-weight: bold;
  }
  div {
    &:first-child {
      grid-column: 3 / span 2;
      grid-row: 1 / span 1;
    }
    &:nth-child(2) {
      grid-column: 1 / span 2;
      grid-row: 1 / span 1;
    }
    &:nth-child(3) {
      grid-row: 2 / span 1;
      grid-column: 1 / span 4;
    }
    &:nth-child(4) {
      grid-row: 3 / span 1;
      grid-column: 1 / span 4;
    }
  }
}



// CONTACT FORM

.aboveForm {
  display: grid;
  div {
    &:first-child {
      grid-column: 3 / span 1;
      grid-row: 1;
    }
    &:last-child {
      grid-column: 1 / span 2;
      grid-row: 1;
    }
  }
}

.contactForm {
  width: 100%;
  margin: 40px auto;

  form {
    display: grid;
    grid-template-columns: 2fr 2fr;
    background: $dpurp;
    border-radius: 10px;
    padding: 20px;
    grid-gap: 1em;
    .formName,
    .formEmail,
    .formMessage,
    .formReason {
      margin-bottom: 10px;
    }
    .formName,
    .formEmail,
    .formMessage,
    .formReason {
      input,
      textarea,
      select {
        margin-top: 6px;
        background: lighten($lpurp, 10%);
        color: #fff;
        font-size: 1.2em;
        font-weight: bold;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 3px solid lighten($lpurp, 20%);
        @include ease(transition($ease));
        &:focus {
          background: lighten($lpurp, 20%);
          border-color: $sand;
        }
      }
    }
    .formName,
    .formEmail,
    .formReason {
      input,
      select {
        width: 100%;
        padding: 7px;
      }
    }
    .formName {
      grid-column: 1 / 2;
    }
    .formEmail {
      grid-column: 2 / 3;
    }
    .formReason {
      grid-column: 3 / 4;
      select {
        outline: none;
        margin-top: 5px;
        background: lighten($lpurp, 10%);
        color: #fff;
        font-size: 1.125em;
        font-weight: bold;
        border-bottom: 3px solid lighten($lpurp, 20%);
        @include ease(transition($ease));
      }
    }
    .formMessage {
      grid-column: 1 / 4;
      textarea {
        width: 100%;
        font-family: $font;
      }
    }
    button {
      font-size: 1em;
      padding: 10px 30px;
      background: $sand;
      border-radius: 5px;
      border: 2px solid darken($sand, 10%);
      outline: 0;
      color: $dpurp;
      @include ease(transition($ease));
      &:hover {
        cursor: pointer;
        background: darken($dpurp, 5%);
        border-color: darken($dpurp, 10%);
        color: $sand;
      }
    }
  }
}

// 404 PAGE
.notFound {
  display: grid;
  margin-top: 30px;
  grid-gap: 30px;
  div {
    &:first-child {
      grid-column: 1 / span 1;
      grid-row: 1;
    }
    &:last-child {
      grid-column: 2 / span 2;
      grid-row: 1;
      img {
        width: 100%;
        max-width: 350px;
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  .mobileHide {
    display: none !important;
  }
  
  .grid-container {
    grid-template-columns: 1fr;
  }

  .homePage {
    div {
      &:first-child {
        grid-column: 1 / span 3;
        grid-row: 2;
      }
      &:nth-child(2) {
        grid-column: 1 / span 3;
        grid-row: 1;
      }
      &:nth-child(3) {
        grid-column: 1 / span 3;
        grid-row: 3;
      }
      &:nth-child(4) {
        grid-column: 1 / span 3;
        grid-row: 4;
      }
      &:nth-child(5) {
        grid-column: 1 / span 3;
        grid-row: 5;
      }
      &:nth-child(6) {
        grid-column: 1 / span 3;
        grid-row: 6;
        margin-bottom: 40px;
      }
    }
  }

  .aboutPage {
    div {
      &:first-child {
        grid-column: 1 / span 3;
        grid-row: 2;
      }
      &:nth-child(2) {
        grid-column: 1 / span 3;
        grid-row: 1;
      }
      &:nth-child(3) {
        grid-column: 1 / span 3;
        grid-row: 3;
      }
      &:nth-child(4) {
        grid-column: 1 / span 3;
        grid-row: 4;
        margin-bottom: 40px;
      }
    }
  }

  .aboveForm {
    display: grid;
    div {
      &:first-child {
        grid-column: 1 / span 3;
        grid-row: 1;
      }
      &:last-child {
        grid-column: 1 / span 3;
        grid-row: 2;
      }
    }
  }
}

@media only screen and (min-height: 900px) {
  .footer {
    z-index: 999;
    bottom: 0px;
    left: 0;
    margin-top: 150px;
    position: fixed;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    grid-template-columns: 1fr;
    background: $dpurp;
    text-align: center;
    h1,
    h2,
    h3 {
      text-align: center;
    }
    h1 {
      margin-top: 20px;
    }
    .socialShare {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; /*Make the grid smaller than the container*/
      margin-top: 25px;
      div {
        text-align: center;
      }
    }
  }
  .notFound {
    div {
      &:first-child {
        grid-column: 1 / span 3;
        grid-row: 1;
      }
      &:last-child {
        grid-column: 1 / span 3;
        grid-row: 2;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 520px) {
  html {
    font-size: 100%;
  }

  .contactForm {
    form {
      grid-template-columns: 4fr;
      .formName {
        grid-column: 1 / 4;
      }
      .formEmail {
        grid-column: 1 / 4;
      }
    }
  }
  .aboutPage {
    div {
      &:first-child {
        grid-column: 1 / span 3;
        grid-row: 2;
      }
      &:nth-child(2) {
        grid-column: 1 / span 3;
        grid-row: 1;
      }
      &:nth-child(3) {
        grid-column: 1 / span 3;
        grid-row: 3;
      }
      &:nth-child(4) {
        grid-column: 1 / span 3;
        grid-row: 4;
      }
    }
  }
}
