@import '/g-styles.scss';


.menu-toggle {
  position: absolute;
  top: 0;
  display: inline-block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1.5em;
  color: #c4af9c;
  cursor: pointer;
}

.menu-toggle:hover,
#main-menu-checkbox:focus ~ .navigation .menu-toggle {
  color: lighten(#c4af9c, 15%);
}

#main-menu-checkbox {
  position: absolute;
  top: 0;
  left: -100vw;
}

.main-menu {
  position: absolute;
  left: -100vw;
  top: 0;
  height: 100vh;
  overflow-y: none;
  overflow-x: none;
  transition: left 0.3s ease;
  z-index: 999;
  background: $lpurp;
  ul {
    list-style: none;
    text-align: center;
    margin: 0 auto;
    max-width: 960px;
    padding: 2.5em 0 0;
    //height: 100vh;
    overflow-y: none;
    //min-height: 100%;
    width: 100vw;
    background: $lpurp;
    display: grid;
    grid-template-columns: 1fr;
    li {
      a {
        display: block;
        margin: 5px 10px;
        padding: 15px;
        line-height: 1.5em;
        font-size: 1.3em;
        font-weight: bold;
        color: $sand;
        text-decoration: none;
      }
    }
  }
}

.main-menu a:hover,
.main-menu a:focus,
.main-menu .menu-close:hover,
#main-menu-checkbox:focus ~ .navigation .menu-close {
  background: $dpurp;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 100%;
  display: block;
  font-size: 1.5em;
  margin: 5px 15px 0 0;
  color: $sand;
  text-decoration: none;
}

#main-menu-checkbox:checked ~ .navigation .main-menu,
.main-menu[aria-expanded="true"] {
  left: 0;
  outline: none;
}

#main-menu-checkbox:checked ~ .navigation .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

#main-menu-checkbox:checked ~ .navigation .main-menu ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

@media (min-width: 768px) {
  .menu-toggle,
  .main-menu .menu-close,
  #main-menu-checkbox {
    display: none;
  }
  
  .main-menu {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: left 0.3s ease;
    z-index: 999;
    background: $lpurp;
    ul {
      list-style: none;
      text-align: center;
      margin: 0 auto;
      max-width: 960px;
      padding: 2.5em 0 0;
      width: 100vw;
      background: $lpurp;
      display: grid;
      grid-template-columns: auto auto auto auto;
      li {

      }
    }
    a {
      display: block;
      width: 100%;
      margin: 5px 10px;
      padding: 15px;
      line-height: 1.5em;
      font-size: 1.3em;
      color: $sand;
      text-decoration: none;
    }
  }
  .main-menu {
    position: relative;
    left: 0;
    top: 0;
    height: auto;
    overflow-y: none;
    overflow-x: none;
    transition: left 0.3s ease;
    z-index: 999;
    background: $lpurp;
    ul {
      list-style: none;
      text-align: center;
      margin: 0 auto;
      max-width: 960px;
      width: 100%;
      padding: 0;
      background: $lpurp;
      display: grid;
      grid-template-columns: auto auto auto auto;
      li {
        margin: 0;
        a {
          display: block;
          padding: 15px;
          font-size: 1.3em;
          margin: 0;
          font-weight: bold;
          color: $sand;
          text-decoration: none;
          &:hover {
            background: none;
            color: darken($sand, 15%);
          }
        }
      }
    }
  }
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}